/Numbers.class
/NumberRepresentation.class
/FloatingPointBinary.class
/ExcessQBinary.class
/NumberRepresentable.class
/FixedPointBinary.class
/ExcessQ.class
/FixedPointRational.class
/FloatingPointRational.class
/ExcessQPars.class
/ConvenienceMethods.class
/HelperMethods.class
/Ref.class
/SignedNumber.class
/SignedBigInteger.class
/SignedBigDecimal.class
/BigDecimalSpecial.class
